html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
}
.mainSite{
	height: 100%;
}
.mainWrapper {
height: 700px;
background: 
    linear-gradient(
      rgba(10, 188, 119, 0.85), 
      rgba(10, 188, 119, 0.85)
    ),
    url(../images/mainbackground.jpg);
background-size: cover;
background-position: center;
}
.logo{
	color: white;
	font-size: 25px;
	font-face: Roboto;
	cursor: pointer;
}
 .login{
	height: 40px;
	line-height: 35px;
	text-align: center;
	border: 1px solid white;
	background-color: transparent;
	border-radius: 20px;
	color: white;
	transition: all .2s ease;
}
.login:hover{
	background-color: white;
	color: green;
}
.verticalAlign{
	width: 100%;
	height: 30px;
}
.middleSection{
	margin-top: 90px;
	color: white;
	font-face: Roboto;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
}
.resumes{
 	height: 350px;
 	vertical-align: bottom;
}
.createStart{
	height: 60px;
	line-height: 60px;
	background-color: #274171;
	border-radius: 50px;
	text-align: center;
}
.footerWrapper{
	padding: 40px 0 40px 0;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: comfortaa;
	height: auto;
	background-color: #f9f9f9;
}
.footerWrapper ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.footerWrapper li{
	padding: 2px 10px;
    display: inline-block;
}
.counter{
	font-size: 30px;
}
.counter span span{
	font-size: 15px;
	color: gray;
}
.loginForm{
	display: none;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: rgba(10, 10, 10, 0.7);
	position: fixed;
	top: 0%;
}
.loginWrapper{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loginBox{
	height: 400px;
	background-color: white;
	vertical-align: middle;
	text-align: center;
	padding: 50px;
	font-face: Roboto;
	font-size: 20px;
	font-weight: bold;
	color: gray;
}
ul{
	margin: 0;
	padding: 0;
}
.social{
	width: 100%;
	height: 60px;
	background-color: #39579a;
	margin-top: 10px;
	border-radius: 5px;
	text-align: center;
	color: white;
	line-height: 60px;
	font-size: 14px;
	list-style-type: none;
	opacity: 0.9;
	cursor: pointer;
}
.social:nth-child(2){
	background-color: #50aaf0;
}
.social:nth-child(3){
	background-color: #eb4b36;
}
.social:nth-child(4){
	background-color: #2274b6;
}
.social i{
	line-height: 60px;
	position: absolute;
	font-size: 25px;
	left: 10%;
}
.social:hover{
	opacity: 1;
}
/* select.php */
.navigationBar{
	padding: 15px 0 15px 0;
	height: 80px;
	background-color: #0abc77;
}
body{
	background-color: #fafafa;
}
.userArea{
	padding: 15px 10px 15px 10px;
	width: auto;
	height: 50px;
	border-radius: 20px;
	background-color: #15cb84;
	line-height: 50px;
	display: flex;
	align-items: center;
	color: white;
}
.userArea img{
	width: 35px;
	height: 35px;
	border-radius: 100%;
	float: left;
	margin-right: 10px;
}
.selectTemplate{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.selectTemplate p{
	margin: 20px;
	text-transform: uppercase;
	font-size: 20px;
	font-face: Roboto;
}
.templates{
	display: flex;
	justify-content: center;
	align-items: center;
}
.template{
	margin: 10px;
	height: 440px;
	background-color: white;
	box-shadow: 0 0 30px 0 #cbcbcb;
}
.template:hover{
	box-shadow: 0 0 30px 0 #0abc77;
}
#slideDown{
	margin: 10px;
	font-size: 20px;
	color: #0d8355;
}
#userMenu{
	width: 100%;
	background-color: #15cb84;
	border-radius: 0 0 20px;
	height: 200px;
	position: relative;
	z-index: 10;
	display: none;
}