html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
}
.mainSite{
	height: 100%;
}
.mainWrapper {
height: 700px;
background: 
    linear-gradient(
      rgba(10, 188, 119, 0.85), 
      rgba(10, 188, 119, 0.85)
    ),
    url(../images/mainbackground.jpg);
background-size: cover;
background-position: center;
}
.logo{
	color: white;
	font-size: 20px;
	font-face: Roboto;
	cursor: pointer;
}
 .login{
 	width: 120px;
	height: 40px;
	line-height: 35px;
	text-align: center;
	border: 1px solid white;
	background-color: transparent;
	border-radius: 20px;
	color: white;
	transition: all .2s ease;
}
.login:hover{
	background-color: white;
	color: green;
}
.navigationBar{
	background-color: #0abc77;
	border: 0;
	border-radius: 0;
	padding: 10px 0 10px 0; 
}
.navigationBarindex{
	background-color: transparent;
	border: 0;
	border-radius: 0;
	padding: 10px 0 10px 0; 
}
.verticalAlign{
	width: 100%;
	height: 30px;
}
.middleSection{
	margin-top: 90px;
	color: white;
	font-face: Roboto;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	position: relative;
}
.resumes{
 	height: 350px;
 	vertical-align: bottom;
}
.createStart{
	height: 60px;
	line-height: 60px;
	background-color: #274171;
	border-radius: 50px;
	text-align: center;
}
.footerWrapper{
	padding: 40px 0 40px 0;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: comfortaa;
	height: auto;
	background-color: #f9f9f9;
}
.footerWrapper ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.footerWrapper li{
	padding: 2px 10px;
    display: inline-block;
}
.counter{
	font-size: 30px;
}
.counter span span{
	font-size: 15px;
	color: gray;
}
.loginForm{
	display: none;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: rgba(10, 10, 10, 0.7);
	position: fixed;
	top: 0%;
}
.loginWrapper{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loginBox{
	height: 400px;
	background-color: white;
	vertical-align: middle;
	text-align: center;
	padding: 50px;
	font-face: Roboto;
	font-size: 20px;
	font-weight: bold;
	color: gray;
}
ul{
	margin: 0;
	padding: 0;
}
.social{
	width: 100%;
	height: 60px;
	background-color: #39579a;
	margin-top: 10px;
	border-radius: 5px;
	text-align: center;
	color: white;
	line-height: 60px;
	font-size: 14px;
	list-style-type: none;
	opacity: 0.9;
	cursor: pointer;
}
.social:nth-child(2){
	background-color: #50aaf0;
}
.social:nth-child(3){
	background-color: #eb4b36;
}
.social:nth-child(4){
	background-color: #2274b6;
}
.social i{
	line-height: 60px;
	position: absolute;
	font-size: 25px;
	left: 10%;
}
.social:hover{
	opacity: 1;
}
/* select.php */
body{
	background-color: #fafafa;
}
.selectTemplate p{
	text-align: center;
	margin: 20px;
	text-transform: uppercase;
	font-size: 20px;
	font-face: Roboto;
}
.template{
	padding: 20px;
	margin-bottom: 20px; 
	height: 500px;
	background-color: white;
	box-shadow: 0 0 30px 0 #cbcbcb;
	transition: all 0.1s linear;
}
.template:hover{
	box-shadow: 0 0 30px 0 #0abc77;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus {
    color: white;
    background-color: #15cb84;
    border-radius: 20px; 
    padding: 5px 10px !important;
}
.navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: #19e092;
    border-radius: 20px; 
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	color: white;
    background-color: #15cb84;
    border-radius: 0px !important; 
}
.navbar-nav>li>.dropdown-menu {
    background-color: #15cb84;
    border: none;
    width: 100%;
}
.dropdown-menu>li>a {
    color: white;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:hover:focus {
	background-color: #0abc77;
    color: white;
}
@media (max-width: 767px){
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: white !important;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: white !important;
    background-color: #15cb84 !important;
}
 .login{
 	width: 200px;
}
.template{
	height: 350px;
}
}
@media screen and (max-width: 350px) and (min-width: 300px){
.template{
height: 300px;
}
}
.userThumb{
	width: 40px;
	height: 40px;
	border-radius: 100%;
	margin-right: 10px;
}